<!DOCTYPE html>
<html>
<head>
  <title>Blogg</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background: #FF0000;">


<%= yield %>

</body>
</html>
